includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/Http
        - app/Models
        - app/Settings
        - app/Providers
        - database/seeders
    level: 6
    excludePaths:
        - app/Filament/*
